.Main {
  display: flex;
  align-self: center;
  justify-content: center;
}

.innerMain h3{
  display: block;
  text-align: start;
  font-size: 1rem;
  margin-inline-end: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family:'Courier New', Courier, monospace;
  margin: 5px;
  color: #777777;

}
.innerMain label{
  display: block;
  text-align: start;
  font-size: 1rem;
  margin-inline-end: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family:'Courier New', Courier, monospace;
  margin: 5px;
  color: #777777;



}

.innerMain input{
  font-weight: 500;
  font-family:'Courier New', Courier, monospace;
  width: 100%;
  min-width: 0px;
  border-width: 1px;
  border-radius: 0.375rem;
  height: 2.5rem;
  padding-inline-start: 1rem;
  border-color: lightgrey;
  border-style: solid;

}

.innerMain textarea{
  font-weight: 500;
  font-family:'Courier New', Courier, monospace;
  width: 100%;
  height: 100%;
  min-width: 0px;
  border-width: 1px;
  border-radius: 0.375rem;
  padding-inline-start: 1rem;
  border-color: lightgrey;
  border-style: solid;

}

.innerMain input:focus-visible {
  z-index: 1;
    border-color: rgb(49, 130, 206);
    box-shadow: rgb(49 130 206) 0px 0px 0px 1px;

}

.innerMain textarea:focus-visible {
  z-index: 1;
    border-color: rgb(49, 130, 206);
    box-shadow: rgb(49 130 206) 0px 0px 0px 1px;

}



.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttons div{
  margin: 2%;
  display: block;
}

.add {
  display: inline;
align-self: center;
justify-content: center;
border-radius: 0.37rem;
color: white;
font-weight: 600;
height: 2.5rem;
font-size: 1rem;
font-family: 'Ruda', sans-serif;
background: #2d7aad;
border: none;
margin-top: 10px;
}
.update {
  display: inline;
align-self: center;
justify-content: center;
border-radius: 0.37rem;
color: white;
font-weight: 600;
height: 2.5rem;
font-size: 1rem;
font-family: 'Ruda', sans-serif;
background: #3cde47;
border: none;
margin-top: 10px;
}

.delete {
  display: inline;
align-self: center;
justify-content: center;
border-radius: 0.37rem;
color: white;
font-weight: 600;
height: 2.5rem;
font-size: 1rem;
font-family: 'Ruda', sans-serif;
background: #c6403c;
border: none;
margin-top: 10px;
}


.light {
  display: inline;
  align-self: center;
  justify-content: center;
  border-radius: 0.37rem;
  color: white;
  font-weight: 600;
  height: 100%;
  font-size: 1rem;
  font-family: 'Ruda', sans-serif;
  background: #3cde47;
  border: none;
  margin-top: 10px;
}

.default {
  display: inline;
  align-self: center;
  justify-content: center;
  border-radius: 0.37rem;
  color: white;
  font-weight: 600;
  height: 100%;
  font-size: 1rem;
  font-family: 'Ruda', sans-serif;
  background: #b2b2b2;
  border: none;
  margin-top: 10px;
}

.heading {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  font-weight: 500;
  color:#379bde
}
